<!--The content below is only a placeholder and can be replaced.-->
<nav id="nav" class="nav-bar">
  <div>
      <a class="conteiner-header" href="../index.html">
        <img class="logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsjemEJ16etr3vEyyUBXrsw4Y16K7z2ep4mg&usqp=CAU" alt="logo">
        <h1 class="title">POKEDEX</h1></a>
  </div>
  <div class="container-redes">
      <div class="respmenu">
          <input class="btn-Hamburger" type="checkbox">
          <i class="fas fa-bars"></i>
          <i class="fas fa-times"></i>
          <nav>
              <ul class="list_redes">
                  <li class="red"><a target="_blank" href="https://www.youtube.com/"><i class="icono-youtube fab fa-youtube"></i></a></li>
                  <li class="red"><a target="_blank" href="https://www.facebook.com/"><i class="icono-facebook fab fa-facebook"></i></a></li>
                  <li class="red"><a target="_blank" href="https://twitter.com/"><i class="icono-twiter fab fa-twitter-square"></i></a></li>
              </ul>
          </nav>
        </div>
  </div>
</nav>
<div class="first_container" id="first_container">

<div class="busqueda">
  <input class="txtSearch" [(ngModel)]="busqueda" type="text" placeholder="Buscar Pokemon..." />
  <input class="btnSearch" (click)="search()" type="submit" value="Buscar" />
</div>
<table class="table">
    <thead>
        <tr>
            <th *ngFor="let title of titles">{{title}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let poke of pokemons; let i = index">
            <td>{{poke.id}}</td>
            <td><span class="ms-2">{{poke.name}}</span>
            </td>
            <td><span *ngFor="let type of poke.tipo" class="ms-2">{{type}}</span></td>
            <td><a (click)="searchLink(poke.id)" routerLink="single/{{poke.id}}"><img class="poke-picture-list" src="{{poke.image}}" alt="{{poke.name}}"></a></td>
        </tr>
    </tbody>
</table>
<div class="container_btn">
  <input class="btn" (click)="prevPage()" type="button" value="<--Back">
  <input class="btn" (click)="nextPage()" type="button" value="Next-->">
</div>

<footer hidden="true" id="footer" class="footer">
      <h6 class="copi">Copyright 2021 Pokedex</h6>
</footer>
</div>
<router-outlet></router-outlet>