/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("img/fondo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif;
    width: 100%;
}
.nav-bar{
    width: 100%;
    position: fixed;
    background-color: rgb(11,46,63);
    margin-top: -50px;
    z-index: 1;
    display: flex;
}

.footer{
    background-color: rgb(11,46,63);
    height: 70px;
    width: 102%;
    margin-left: -18px;
    bottom: 0px;
}

.conteiner-header{
    height: 55px;
    display: flex;
    text-decoration: none;
    cursor: pointer; 
}

.container-redes{
    height: 30px;
    display: flex;
    margin-left: auto;
    align-self: center;
}

.btn-Hamburger{
    cursor: pointer;
}

.red{
    margin-left: 5px;
    margin-right: 10px;
}

.icono-youtube{
    color:red;
    font-size: 23px;
}
.icono-facebook{
    color:blue;
    font-size: 23px;
}
.icono-twiter{
    color: skyblue;
    font-size: 23px;
}

.list_redes{
    list-style: none;
    display: contents;
}

.title{
    margin-left: 14px;
    align-self: center;
    color: #fff;
}

.logo{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    align-self: center;
}

.first_container{
    margin-top: 50px;
    text-align: -webkit-center;
    width: 100%;
    position: relative;
    top: 35px;
}

.second_container{
    margin-top: 50px;
    text-align: -webkit-center;
    width: 100%;
    position: relative;
    top: 35px;
}

.busqueda{
    width: 50%;
}

.btnSearch{
    width: 20%;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.txtSearch{
    width: 70%;
    border-radius: 3px;
    margin-right: 10px;
    height: 32px;
    background-color: rgb(211,247,247);
}

.container_btn{
    margin-top: 30px;
    margin-bottom: 30px;
}

.table{
    width: 50%;
    margin-top: 40px;
    border: 1px;
    border-style: solid;
    border-spacing: 0px;
    border-radius: 5px;
    background-color: rgb(211,247,247);
}

.table-pokemon{
    width: 90%;
    margin-top: 40px;
    border: 1px solid rgb(119,172,188);
    border-spacing: 0px;
    border-radius: 5px;
}

tr{
    text-align: center;
    border-color: rgb(119,172,188);
    vertical-align: middle;
}

th, td {
    border: 1px solid rgb(119,172,188);
    border-spacing: 0;
    caption-side: bottom;
    background: #fff;
}
td{
  text-transform: uppercase;
}
caption {
    padding: 0.3em;
    color: #fff;
     background: #000;
 }
 th {
    background: #eee;
    border-bottom: rgb(119,172,188);
 }

 .respmenu a { 
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    border-bottom: 2px solid #456789;
    max-width: 200px;
    background: #234567;
    font-variant: small-caps;
    text-shadow: 1px 1px black;
  }

  .respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
    position: absolute;  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    width: 48px;
    height: 48px;  
  }
   
  .respmenu .fa-bars, .respmenu .fa-times {
    font-size: 48px;
    pointer-events: none;
  }
   
  .respmenu input[type="checkbox"] {
    opacity: 0; 
  }
   
  .respmenu {
    color: white;
    position: relative; 
    background: rgb(11,46,63);
    min-height: 48px;
    width: 110px;
    bottom: 10px;
  }
   
  .respmenu nav {
    display: none;
  }
   
  .respmenu input:checked ~ nav {
    display: block;
  }
   
  .respmenu input:checked ~ .fa-bars {
    display: none;
  }
   
  .respmenu input:not(:checked) ~ .fa-times {
    display: none;
  }

  .copi{
    color: #fff;
    padding-top: 30px;
  }


  .page-content{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    width: 60%;
    border-radius: 6px;
    background-color: rgb(211,247,247);
    border: 1px solid rgb(119,172,188);
  }

  .card{
    grid-column: 2 / 4;
    grid-row: 1;
    width: 98%;
    background-color: rgb(186,204,228);
    border-radius: 10px;
    margin: 8px 0px 8px 0px;
  }

  .content{
    width: 46%;
    grid-column: 1 / 4;
    grid-row: 1;
    margin: 15px 0px 10px 10px;
    text-align: justify;
  }

  .poke-picture{
    width: 60%;
  }

  .poke-picture-list{
    width: 40%;
    height: 40%;
  }

  .pic-poke{
    width: 95%;
    background-color: rgb(186,204,228);
    border-radius: 4px;
    margin-bottom: 10px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .namePoke{
    margin-left: 14px;
    align-self: center;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.parrafo{
  display: flex;
  border: 1px solid rgb(119,172,188);
}

.parrafo-title{
  width: 40%;
  align-self: center;
}

.span-data{
  align-self: center;
  width: 75%;
  font-weight: bold;
}

.span-image{
  display: flex;
  margin-inline: auto;
}

.evolution{
    background-color: rgb(211,247,247);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    width: 60%;
    border-radius: 6px;
    margin-top: 25px;
}

.img-evolution{
  width: 100%;
  height: 50px;
}

.img-o{
  font-size: 25px;
  font-weight: bold;
  position: relative;
  top: 10px;
}

.btn-back{
  margin-right: 100px;
  background-color: rgb(211,247,247);
  margin-bottom: 50px;
}

.btn-search{
  background-color: rgb(211,247,247);
}

.par-game{
  margin: 0;
}

.arrow{
  font-size: 50px!important;
  color: rgb(119,172,188);
}

.evol-element{
  margin-right: 15px;
}

.back-button{
  background-color: rgb(186,204,228);
  margin-top: 20px;
  margin-bottom: 20px;
  color: #000;
}
#mensaje{
  width: 70%;
}